name: Deploy Strapi

on:
  push:
    branches:
      - master  # Trigger this workflow on push to the main branch

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      ASHOK_EC2_USER: ${{ secrets.ASHOK_EC2_USER }}
      ASHOK_EC2_HOST: ${{ secrets.ASHOK_EC2_HOST }}
      ASHOK_PRIVATE_KEY: ${{ secrets.ASHOK_PRIVATE_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Prepare SSH key
        run: |
          echo "${{ secrets.ASHOK_PRIVATE_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Deploy Strapi Application
        run: |
          ssh -o StrictHostKeyChecking=no -i strapi-keypair.pem $ASHOK_EC2_USER@$ASHOK_EC2_HOST "
            sudo mkdir -p /srv/strapi && sudo chown ubuntu:ubuntu /srv/strapi
            cd /srv/strapi
            if [ -d '.git' ]; then
              git pull origin master
            else
              https://github.com/veera1016/strapi.git /srv/strapi
            fi
            npm install
            npm run build
            pm2 restart strapi || pm2 start npm --name 'strapi' -- run start
          "
      - name: Clean up
        run: rm key.pem
